{% extends "@App/Main/main.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{% block content %}

    <main>
        <div class="content fullContent">
            <h2>{{ news.title }}</h2>
            <article>
                {% if news.image != '' %}
                    <div data-url="{{ news.image }}" class="imageOpen"></div>
                {% endif %}
                {{ news.description }}
            </article>

            <h2>Комментарии:</h2>

            {% for comment in news.comments %}
                {{ comment.text }}
                <br /><br /><br />
            {% endfor %}

            {% if news.comments|length == 0 %}
                Нет комментариев
            {% endif %}

            <h2>Добавить комментарий:</h2>
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            {{ form_end(commentForm) }}

        </div>
    </main>



{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}