{% extends "@App/Main/main.html.twig" %}



<header id="">
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">

                        <!--/stories-->
                        <div class="row">
                            <br>
                            {% if news.image != '' %}
                            <div class="col-md-2 col-sm-3 text-center">
                                <a class="story-img" href="#"><img src="{{ news.image }}" style="width:100px;height:100px" class="img-circle"></a>
                            </div>
                            {% endif %}
                            <div class="col-md-10 col-sm-9">
                                <h3>{{ news.title }}</h3>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <p>{{ news.description }}</p>
                                        <p class="lead"><button class="btn btn-default">Read More</button></p>
                                        <ul class="list-inline"><li><a href="#">{{ news.dateCreate|date('d.m.Y')}}</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> {{ news.comments|length }} Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                                    </div>
                                    <div class="col-xs-3"></div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>


                {% for comment in news.comments %}

                    {{ comment.text }}
                    <br />

                {% endfor %}



            </div><!--/col-12-->
        </div>
    </div>
</header>
{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}