{% extends "@App/Main/main.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{% block content %}

    <main>
        <div class="content">
            <h2>Последние новости</h2>

                {% for news in news %}
            <div class="block">
                    {% if news.image != '' %}
                   <img src="{{ news.image }}" style="width:100px; height:100px" class="img-circle">
                    {% endif %}
                <article>
                    <h3 class="link"><a href="{{ path("news_item", {id:news.id}) }}">{{ news.title }}</a></h3>
                    <p class="shortText">{{ news.description }}</p>
                    <p class="date">01.04.2015</p>
                </article>
            </div>
                {% endfor %}



        </div>
    </main>

{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}