{% extends "@App/Main/main.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{% block content %}
    <header>
        <div class="headerDiv">
            <div class="upperHeader">
                <h1><span class="logo">BodyLanguage</span><span class="hideEl"> - </span><span>тренинги публичных выступлений</span></h1>
                <p class="signIn">Вход/Регистрация</p>
                <i class="fa fa-bars"></i>
            </div>
            <nav>
                <ul>
                    <li class="link"><a id="mainLink" href="index.html">Главная</a></li>
                    <li class="link"><a class="current" href="news.html" id="newsLink">Новости</a></li>
                    <li class="link"><a href="description.html" id="descriptionLink">Описание тренингов</a></li>
                    <li class="link"><a href="success.html" id="successLink">История успеха</a></li>
                    <li class="link"><a href="contacts.html" id="contactsLink">Контакты</a></li>
                    <p class="signIn">Вход/Регистрация</p>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="content">
            <h2>Последние новости</h2>

                {% for news in news %}
            <div class="block">
                    {% if news.image != '' %}
                   <img src="{{ news.image }}" style="width:100px; height:100px" class="img-circle">
                    {% endif %}
                <article>
                    <h3 class="link"><a href="{{ path("news_item", {id:news.id}) }}">{{ news.title }}</a></h3>
                    <p class="shortText">{{ news.description }}</p>
                    <p class="date">01.04.2015</p>
                </article>
            </div>
                {% endfor %}



        </div>
    </main>

{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}